@page
@model MedPortal.Pages.CreateSpecializationModel
@{
}
<form method="post" id="createDoctorsForm" enctype="multipart/form-data">
    <div class="container">
        <div class="column">
            <label>Название: </label>
        </div>
        <div class="column">
            <input type="text" name="Name" />
        </div>
        <input id="send_button" type="submit" value="Добавить" />
    </div>
</form>