using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;
using Microsoft.AspNetCore.SignalR;
using Microsoft.EntityFrameworkCore;
using System.Numerics;
using System.Security.Claims;

@page "/Forms"
@inject ApplicationContext context

<h1>Forms</h1>

<select @bind = "@selectedHospital" class="form-control">

</select>
    
@code {
    private int selectedHospital;
    private List<Hospital> hospitals;
    private List<Doctors> doctors;
    private List<Doctors> filtdoctors;

    public List<Hospital> Hospitals { get; private set; } = new();

    Hospitals = context.Hospitals.AsNoTracking().ToList();

}
